html{
  font-size: 16px;
}

.load::before{
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 99999999999999999999 !important;
}

.load::after{
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    content: url('../../backend/images/load.gif');
    width: 200px;
    height: 200px;
    z-index: 1;
}

/* LOGIN */

.login{
    height: 100vh;
    background-color: #000;
    background-image: url('../../backend/images/bg-login.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login .login-board{
    height: 100vh;
}

.login .login-board .board{
    width: 450px;
    height: 400px;
    background-color: rgb(53, 50, 50);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
}

.login .login-board .board .logo img{
    width: auto;
    height: 100px;
}

/* LAYOUT */

.select2{
    width: 100% !important;
}

.fr-popup{
  z-index: 2147483645 !important;
}

.img-editor{
  width: 50%;
  height: auto;
  margin: auto !important;
}

.table img{
  max-width: 50px;
  max-height: 50px;
}

.mapa{
  width: 100%;
  height: 300px;
}

.fr-view img {
  width: auto;
}

.img-editor.icone{
  width: 50px;
  height: 50px;
  margin: initial !important;
}

.nav-tabs-custom>.nav-tabs>li.active>a{
  font-weight: bold;
}

.modal-xl{
  min-width: 1200px;
}

.input-group{
  width: 100%;
}

.main-header .logo{
  font-size: 18px;
}

.select2-container--default .select2-results>.select2-results__options{
  max-height: 300px;
}

textarea:not(.editor){
  min-height: 200px;
}

.fr-image-resizer.fr-active{
  display: none;
}

.label-radio{
  padding-right: 10px;
}

.form-group{
  min-height: 61px;
}